.searchBar {
  display: flex;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #dfe1e5;
  border-radius: 4px;
  font-size: 0.8rem;
  color: #5E56E7;
  outline: none;
  background-color: #F0F0F6;
  transition: box-shadow 0.2s ease, border-color 0.2s ease, background-color 0.2s ease, border-width 0.2s ease;
}

.input:focus {
  box-shadow: 0 0 0 2px #5E56E7;
  border-color: #5E56E7;
  background-color: #F8F7FF;
  border-width: 0.5px;
  border-style: solid;
}